body {
}

#contenedor {
  width: 800px;
  margin: 0 auto;
}

#header{
    padding-bottom: 1px;
}

#mapid {
    /*height: 100vh;
    width:  128vh;*/
    height: 580px;
    width: 100%;
    box-shadow: 5px 5px 5px #888;

}

#anchura{
  width:  128vh;
}

#barraLat{
  margin-top: 195px;
  margin-right: 50px;
}

#barraLatDer{
  margin-top: 195px;
}

#tablaCentros{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size:large;
  color: black;
  width: 0 auto;
}

#negro{
  color:black;
}

#blanco{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
}

#centrado{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 3.5vh;
  color: black;
}

#fuente{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px #ffffff;
  background-color:#4088ff;
   border-radius: 3px;
   border: solid;
   padding: 8px 8px;
   text-decoration: none;
   font-size: 6.5vh;
   -webkit-transition-duration: 0.4s;
   text-align: center;
}

#fuente2{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  background-color:#0099cc;
   border-radius: 3px;
   border: solid;
   border-color: black;
   padding: 8px 8px;
   text-decoration: none;
   font-size: 6.5vh;
   -webkit-transition-duration: 0.4s;
   text-align: center;
   border-radius: 10px;
   width: 100%
}

#links{
  background-color:#000000;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   width: 100%
   font-size: 2.0vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 10px;
}

#especialidad{
  background-color:#ff6699;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 10px;
   width: 100%
}

#especialidad2{
  background-color:#ff6699;
   border-radius: 10px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: black;
   margin-bottom: 10px;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#columnasTabla{
  background-color:#ff6699;
   border-radius: 15px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 5px;
   width: 100%
}

#colxcol{
  background-color:#ff6699;
   border-radius: 0px;
   border: solid;
   border-color: black;
   color: black;
   padding: 8px 8px;
   text-align: center;
}

#tablaBody{

   border-radius: 0px;
   border: solid;
   border-color: black;
   color: white;
   padding: 8px 8px;
   text-align: center;
}

#myBtn {
   background-color:#339966;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    -webkit-transition-duration: 0.4s;
    color: white;
    margin-left: 35px;
    box-shadow: 5px 5px 5px #888;
    width: 100%
}

#myBtn:hover {
   background-color: #006600;
    color: white;
}
