body {
}

#contenedor {
  width: 800px;
  margin: 0 auto;
}

#header{
    padding-bottom: 1px;
}

#mapid {
    /*height: 100vh;
    width:  128vh;*/
    height: 580px;
    width: 100%;
    box-shadow: 5px 5px 5px #888;

}

#mapaCol {
    /*height: 100vh;
    width:  128vh;*/
    height: 580px;
    width: 100%;
    box-shadow: 5px 5px 5px #888;

}

#anchura{
  width:  128vh;
}

#barraLat{
  margin-top: 195px;
  margin-right: 50px;
}

#barraLatDer{
  margin-top: 195px;
}
/*en realidad es tablaCentros*/
#tablaCentros{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size:large;
  color: black;
  width: 0 auto;
}

#tablaCentrosMain{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size:large;
  color: black;
  width: 0 auto;
}

#negro{
  color:black;
}

#blanco{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
}

.tituloLineaMap{
  background-image: url(img/celeste.png);

  text-align: center;
  font-size: 3.5vh;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

  /*background-color:#0099cc;*/
   /*opacity: 0.6;*/
   border: solid;
   border-color: black;
   padding: 8px 8px;
   -webkit-transition-duration: 0.4s;
   border-radius: 10px;
   width: 100%;
  /*background-color: #ffffff;*/
  border: 1px solid black;
  /*filter: alpha(opacity=60); /* For IE8 and earlier */
}

.transbox{
  background-image: url(img/celeste.png);
  text-align: center;
  font-size: 3.5vh;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  /*background-color:#0099cc;*/
   /*opacity: 0.6;*/
   border: solid;
   border-color: black;
   padding: 8px 8px;
   -webkit-transition-duration: 0.4s;
   border-radius: 10px;
   width: 100%;
  /*background-color: #ffffff;*/
  border: 1px solid black;
  /*filter: alpha(opacity=60); /* For IE8 and earlier */
}

.mapaLinea{
  text-align: center;
  width: 100%;
}

.p {
    font-weight: bold;
    color: #000000;
}

#fuente{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px #ffffff;
  background-color:#4088ff;
   border-radius: 3px;
   border: solid;
   padding: 8px 8px;
   text-decoration: none;
   font-size: 6.5vh;
   -webkit-transition-duration: 0.4s;
   text-align: center;
}

#fuente2{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: white;
  /*background-color:#0099cc;*/
  background-image: url(img/celeste.png);

   border-radius: 3px;
   border: solid;
   border-color: black;
   padding: 8px 8px;
   text-decoration: none;
   font-size: 6.5vh;
   -webkit-transition-duration: 0.4s;
   text-align: center;
   border-radius: 10px;
   width: 100%
}
#fuenteSugerencia{
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: yellow;
  /*background-color:#0099cc;*/
  background-image: url(img/celeste.png);

   border-radius: 3px;
   border: solid;
   border-color: black;
   padding: 8px 8px;
   text-decoration: none;
   font-size: 85%;
   -webkit-transition-duration: 0.4s;
   text-align: left;
   border-radius: 10px;
   width: 100%
}

#links{
  background-color:#000000;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   width: 100%
   font-size: 2.0vh;
   -webkit-transition-duration: 0.4s;
   margin-top: 75px;
   margin-bottom: 10px;
   /*position: absolute;
   bottom: 30;
   right: 0;
   left: 0;*/
   /*margin: auto;*/
}

#lineaColectivoLabel{
  background-color: #000000;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 0px;
   width: 100%
}

#especialidad{
  background-color: #990099;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 0px;
   width: 100%
}

#especialidadClinica{
  background-color: #339966;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 0px;
   width: 100%
}

#especialidadClinicaCombo{
  background-color:#339966;
   border-radius: 10px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: black;
   margin-bottom: 21px;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#especialidadQuirurgica{
  background-color: #ff6600;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 0px;
   width: 100%
}

#especialidadMedicoQuirurgicas{
  background-color: #ff6699;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: white;
   margin-bottom: 0px;
   width: 100%
}


#especialidad2{
  background-color:#ff6699;
   border-radius: 10px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: black;
   margin-bottom: 21px;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#botonCombo{
  background-color:#ff6699;
   border-radius: 10px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   color: black;
   margin-bottom: 23px;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#rec_mode3{
  display: flex;
  background-color:#ff6699;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 10px;
   margin: 0;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}
#rec_mode{
  display: flex;
  background-color:#339966;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 10px;
   margin: 0;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}
#rec_mode2{
  display: flex;
  background-color:#ff6600;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 10px;
   margin: 0;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#comboColectivos{
  display: flex;
  background-color:#000000;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 10px;
   margin: 0;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#aviso{
  display: flex;
   border: none;
   text-decoration: none;
   font-size: 2.7vh;
   -webkit-transition-duration: 0.4s;

   margin: 0;
   margin-top: 10px;
   width: 100%
}

@keyframes body {
  0%,30%{
    background-image: url(img/hojas.jpg);
    width: 100%;
    opacity: 1;
  }
  31%,34%{
    opacity: 2.0;
  }
  35%, 65%{
    background-image: url(img/aurora.jpg);
    width: 100%;
    opacity: 1;
  }
  66%,69%{
    opacity: 2.0;
  }
  70%,100%{
      background-image: url(img/road.jpg);
      width: 100%;
      opacity: 1;
  }
}

#tipoCentroSalud{
  display: flex;
  background-color: #990099;
   border-radius: 10px;
   border: none;
   color: white;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 10px;
   margin: 0;
   box-shadow: 5px 5px 5px #888;
   width: 100%
}

#tipoCentroSalud:hover{
  background-color: #660066;
  color: white;
}

#rec_mode:hover{
  background-color: #26734d;
  color: white;
}

#rec_mode2:hover{
  background-color: #b34700;
  color: white;
}

#rec_mode3:hover{
  background-color: #cc0044;
  color: white;
}

#comboColectivos:hover{
  background-color: #737373;
  color: white;
}

#combos{
  display: flex;
  flex-wrap: wrap;
}

#combos2{
  display: flex;
  flex-wrap: wrap;
}

#columnasTabla{
  background-color:#ff6699;
   border-radius: 15px;
   border: none;
   color: black;
   padding: 8px 8px;
   text-align: center;
   text-decoration: none;
   font-size: 2.6vh;
   -webkit-transition-duration: 0.4s;
   margin-bottom: 5px;
   width: 100%
}

#colxcol{
  background-color:#ff6699;
   border-radius: 0px;
   border: solid;
   border-color: black;
   color: black;
   padding: 8px 8px;
   text-align: center;
}

#tablaBody{
   font-size: 80%;
   border-radius: 0px;
   border: solid;
   border-color: black;
   color: white;
   padding: 8px 8px;
   text-align: center;
   background-image: url(img/celeste.png);
}

.banner{
  width: 800px;
  height: 110px;
  margin: auto;
  /*background-image: url(img/banner.png);*/
}

#myBtn {
   background-color:#006699;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 4vh;
    -webkit-transition-duration: 0.4s;
    color: white;
    margin-left: 0px;
    box-shadow: 5px 5px 5px #888;
    width: 100%
}

#myBtn:hover {
   background-color: #003366;
    color: white;
}

#btnColectivo {
   background-color:#006699;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 3.7vh;
    -webkit-transition-duration: 0.4s;
    color: white;
    margin-left: 0px;
    box-shadow: 5px 5px 5px #888;
    width: 100%
}

#btnColectivo:hover {
   background-color: #003366;
    color: white;
}



@media (min-width: 240px) {
    .container {
      width: auto;
      /*margin: 0 auto;*/
    }
    .container hr{
      width: 80%;
    }

    .transbox {
      width: 80%;
    }

    .body {
      margin-right: 0px;
    }

    #fuente2{
      width: 80%;
    }

    #combos{
      width: 80%;
    }
    #combos2{
      width: 80%;
    }
    #mapid{
      width: 80%;
      height: 350px;
    }
    #links{
      width: 80%;
    }

    #tablaCentrosMain *{
      width: 80%;
    }

    #mapaCol{
      width: 80%;
      height: 350px;
    }
    #contenedor{
      width: 400px;
      margin: 0 auto;
    }
}

@media (min-width: 740px) {
    .container {
      width: 1100px;
      margin: 0 auto;
    }
    .container hr{
      width: 70%;
    }
    .transbox {
      width: 70%;
    }

    #fuente2{
      width: 70%;
    }
    #combos{
      width: 70%;
    }
    #combos2{
      width: 70%;
    }
    #mapid{
      width: 70%;
      height: 450px;
    }
    #links{
      width: 70%;
    }
    #tablaCentrosMain *{
      width: 70%;
    }

    #mapaCol{
      width: 70%;
      height: 450px;
    }
    #contenedor{
      width: 700px;
      margin: 0 auto;
    }


}

@media (min-width: 1024px) {
    .container {
      width: 1200px;
      margin: 0 auto;
    }
    .container hr{
      width: 100%;
    }
    .transbox {
      width: 100%;
    }

    #fuente2{
      width: 100%;
    }
    #combos{
      width: 100%;
    }
    #combos2{
      width: 100%;
    }
    #mapid{
      width: 100%;
      height: 580px;
    }
    #links{
      width: 100%;
    }
    #tablaCentrosMain *{
      width: 100%;
    }

    #mapaCol{
      width: 100%;
      height: 580px;
    }
    #contenedor{
      width: 800px;
      margin: 0 auto;
    }
}
